#root {
  margin: 0 auto;
  padding: 0.2em;
}
table {
  margin: 1rem auto;
}

table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
}
table th {
  font-size: 14px;
  padding: 0 10px;
}

.info {
  display: flex;
}

.configbar {
  display: flex;
  justify-content: space-between;
}

.event {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}
.group {
  margin: 0 1rem;
}
.bright {
  font-size: 18px;
  font-weight: bold;
  background-color: indigo;
  color: blanchedalmond;
}
.gobtn {
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  background-color: darkblue;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.small {
  font-size: 10px;
  margin: 0 10px;
}
.btnGroupCount {
  margin-left: 0.5rem;
  padding: 0 1rem;
}
