body {
  min-width: 320px;
  min-height: 100vh;
}

table {
  margin: 1rem 0;
}

table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
}
table th {
  font-size: 14px;
  padding: 0 10px;
}

.navbar {
  list-style: none;
  display: flex;
  align-items: center;

  .logo {
    margin-right: 1rem;
  }

  li {
    margin: 0;

    a {
      padding: 10px;
      text-decoration: none;
    }

    .active {
      background-color: burlywood;
      color: black;
    }
  }
}

.info {
  display: flex;
}
.tiny {
  font-size: 8px;
}
.configbar {
  .card {
    margin-left: 1rem;
  }
}

.event {
  display: flex;
}

.bright {
  font-size: 18px;
  font-weight: bold;
  background-color: indigo;
  color: blanchedalmond;
}
.gobtn {
  padding: 1rem;
  background-color: darkblue;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.small {
  font-size: 12px;
}
.margin-y {
  margin: 0 10px;
}
.btnGroupCount {
  margin-left: 0.5rem;
  padding: 0 0.2rem;
}

.red-text {
  color: red;
}

.main-container {
  display: flex;
  max-height: 100vh;
  height: 100%;
  overflow: hidden;
}
.config-container {
  display: flex;

  column-gap: 2rem;
}
.army-container {
  width: 20%;
  overflow: scroll;
}
.army-header {
  display: flex;
  justify-content: space-between;

  .btn-clear-army {
    background-color: purple;
  }
}
.mob-container,
.stack-container {
  overflow: scroll;
  width: 40%;
}

.troop {
  font-size: 14px;
  margin: 4px;
}

.stack-card {
  display: grid;
  grid-template-areas:
    'units name      name       action       delete'
    'units atk       atk        leadership   reset'
    'units health    strength   config       minSetup'
    'units basic     basic      .            .';
  /* 'units id       id      id         id          id          id'; */

  width: 450px;
  border: 1px solid grey;
  margin: 10px 0;
}
.stack-units {
  grid-area: units;
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  color: black;
  margin-right: 10px;
  cursor: pointer;
  user-select: none;
  padding-left: 20px;
  position: relative;
}

.drag-handler {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 100%;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: linear-gradient(
      30deg,
      #bc6f0f 12%,
      transparent 12.5%,
      transparent 87%,
      #bc6f0f 87.5%,
      #bc6f0f
    ),
    linear-gradient(150deg, #bc6f0f 12%, transparent 12.5%, transparent 87%, #bc6f0f 87.5%, #bc6f0f),
    linear-gradient(30deg, #bc6f0f 12%, transparent 12.5%, transparent 87%, #bc6f0f 87.5%, #bc6f0f),
    linear-gradient(150deg, #bc6f0f 12%, transparent 12.5%, transparent 87%, #bc6f0f 87.5%, #bc6f0f),
    linear-gradient(
      60deg,
      #bc6f0f77 25%,
      transparent 25.5%,
      transparent 75%,
      #bc6f0f77 75%,
      #bc6f0f77
    ),
    linear-gradient(
      60deg,
      #bc6f0f77 25%,
      transparent 25.5%,
      transparent 75%,
      #bc6f0f77 75%,
      #bc6f0f77
    );
  background-size: 8px 14px;
  background-position: 0 0, 0 0, 4px 7px, 4px 7px, 0 0, 4px 7px;
}
.stack-name {
  grid-area: name;
  margin: 0;
  font-size: 1.2rem;
  font-weight: 500;
  width: 100%;
  max-width: 160px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.stack-health {
  grid-area: health;
  margin: 0;
  /* background-color: rosybrown; */
  color: brown;
}
.stack-strength {
  grid-area: strength;
  margin: 0;
  /* background-color: aquamarine; */
  color: aquamarine;
  font-size: 0.8rem;
}
.stack-leadership {
  grid-area: leadership;
  margin: 0;
  /* background-color: cadetblue; */
  color: cadetblue;
  font-size: 0.8rem;
}
.stack-minSetup {
  grid-area: minSetup;
  margin: 0;
  /* background-color: darkgoldenrod; */
  color: darkgoldenrod;
  font-size: 0.8rem;
}
.stack-limit {
  grid-area: limit;
  margin: 0;
  font-size: 0.8rem;
}
.action-btn {
  padding: 0 15px;
}
.stack-action {
  grid-area: action;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0;
}
.stack-config {
  grid-area: config;
  margin: 0;
  font-size: 0.8rem;
}
.stack-delete {
  grid-area: delete;
  display: flex;
  justify-content: right;
  align-items: flex-start;

  .remove-btn {
    background-color: red;
    color: white;
  }
}
.stack-reset {
  grid-area: reset;
  display: flex;
  justify-content: right;
  align-items: flex-end;

  .reset-btn {
    background-color: cornflowerblue;
    color: white;
  }
}

.stack-id {
  grid-area: id;
}

.stack-attack-info {
  grid-area: atk;
}
.stack-basic-info {
  grid-area: basic;
}

.monsters {
  background-color: mediumorchid;
  margin: 4px 0;
  padding: 2px;
  .btn-group {
    /* margin: 2px 0; */

    border: 2px solid black;
  }
}
.guardsmen {
  background-color: darkcyan;
  margin: 4px 0;
}
.engineer {
  background-color: sienna;
  margin: 4px 0;
}
.specialists {
  background-color: lightcoral;
  margin: 4px 0;
}
.mercs {
  background-color: brown;
}
.group {
  margin: 0 1rem;
}
.btn-group {
  display: flex;
}
.group-title {
  margin: 0;
}
.mob-army-stack {
  padding: 1rem;
  border: 1px solid green;
  margin: 8px 0;

  .name {
    font-weight: 600;
    font-size: 1.1rem;
  }

  .units {
    color: brown;
  }

  .hp {
    color: gray;
  }
}

.row {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  column-gap: 1rem;
}
.field {
  label {
    margin-right: 1rem;
  }
  input {
    max-width: 80px;
  }
}
.radio-group {
  display: flex;
}
.radiobtn {
  /* input {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  } */

  input[type='radio']:checked + label {
    background: olive;
  }

  label {
    padding: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  label:hover {
    background: #ddd;
  }
}
